.swiper{
  /* padding: 32px; */

}

.swiper-slide{
  display: flex;
  justify-content: center;
  
}

@media screen and (min-width: 1024px) {
  .swiper-slide {
    transition: 250ms all;
  }
  .swiper-slide:hover{
    transform: scale(1.2);    
  } 
}

.swiper-pagination-bullet-active {
  background-color: #718096;

}

.swiper-button-prev{
  padding-left: 32px;
  color: var(--color-grey-0);

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;


}

.swiper-button-next{
  padding-right: 32px;

  color: var(--color-grey-0);

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;

} 